# Virtual Machines
VMs/

# VirtualBox
*.vdi
*.vbox
*.vbox-prev
*.vmdk

# Logs
*.log

# Except auth log
!logs/
!logs/attack-04/
!logs/attack-04/auth.log

# Snapshots
Snapshots/

# OS files
Thumbs.db
.DS_Store

#Project Proposal
Project Proposal.pdf